// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sticky {
  position: relative;
  top: 0;
}


// for demo only
footer {
  height: 6rem;
  background: #333;
  color: #fff;
}