
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">

  <ul class="title-area">
    <li class="name">
      <h1><a href="/products">EATMAPP</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Add products or locations</a>
        <ul class="dropdown">
          <li><a href="#">Add product</a></li>
          <li class="active"><a href="#">Add location</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="products#about">About</a></li>
    </ul>
  </section>
</nav>
